################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoreObjectOrientation/v16
/Bank/obj
/Common/bin/Debug/netcoreapp3.1
/Common/obj/Debug/netcoreapp3.1
/Common/obj
/SodaMachine/bin/Debug/netcoreapp3.1
/SodaMachine/obj
